@import "../../scss/variables.scss";
.linkers-panel {
  @media (min-width: 640px) {
    padding: 0 10% 0 10%;
  }
  min-height:250px;
  max-width: $zapi-page-max-width;
  .linker-title {
    img {
      height:60px;
      width: 60px;
      padding-right: 10px;
      @media (min-width: 640px) {
        height:70px;
        width: 70px;
      }
    }
    padding-bottom: 10px;
    height: 60px;
    line-height: 60px;
    @media (min-width: 640px) {
      height: 80px;
      line-height: 80px;
    }
    font-size: 25px;
    font-family: -apple-system, BlinkMacSystemFont, "微软雅黑", "黑体";
    color: #363b40;
    font-weight: bold;
  }
  a {
    font-size:1.2em;
  }
}