@import "variables.scss";

@import "~uikit/src/scss/variables-theme.scss";
@import "~uikit/src/scss/mixins-theme.scss";
@import "~uikit/src/scss/uikit-theme.scss";

@font-face {
  font-family: 'Gotham Rounded';
  src: url('../fonts/GothamRoundedBook.otf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

body {
  font-size: $zendapi-std-fontsize;
}

.clear {
  clear: both;
}

.site-header {
  height: 40px;
  line-height:40px;
  background: $site-base-color;
  .uk-navbar-container {
    background: transparent;
  }
  .uk-navbar-nav > li > a{
    color:#ffffff;
    height:40px!important;
  }
  .nav-menu {
    color: #dddddd!important;
    width:20px;
    padding: 0;
    &:hover {
      color: #ffffff!important;
    }
  }
}
