@import "variables.scss";

@import "~uikit/src/scss/variables-theme.scss";
@import "~uikit/src/scss/mixins-theme.scss";
@import "~uikit/src/scss/uikit-theme.scss";

@import "~perfect-scrollbar/src/css/main.scss";

@font-face {
  font-family: 'Gotham Rounded';
  src: url('../fonts/GothamRoundedBook.otf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
body {
  font-size: $zapi-std-fontsize;
  color: $zapi-normal-font-color;
  height:100%;
  -webkit-tap-highlight-color:rgba(0,0,0,0)!important;
}

.clear {
  clear: both;
}
a {
  color: $zapi-link-color;
  text-decoration: none;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
  -webkit-transition-property: color;
  transition-property: color;
}
a:hover {
  color: $zapi-base-color;
  text-decoration: none;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  -webkit-transition-property: color;
  transition-property: color;
}

.highlight {
  border-radius: 2px;
  @media (min-width: 640px) {
    border-radius: 5px;
  }
  .line {
    height: 1.2em!important;
    @media (min-width: 640px) {
      height: 1.4em!important;
    }
  }
  max-height:500px;
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #abb2bf;
  background: #282c34;
  pre {
    border: none;
    background-color: transparent;
    span, div {
        font-size: 1em!important;
    }
  }
  
  position: relative;
  .comment, .quote {
    color: #5c6370;
    font-style: italic;
  }
  .doctag, .keyword, .formula{
    color: #c678dd;
  }
  .section, .name, .selector-tag, .deletion, .subst {
    color: #e06c75;
  }
  .literal {
    color: #56b6c2;
  }
  .string, .regexp, .addition, .meta-string, .attribute {
    color: #98c379;
  }
  .built_in, .class, .title {
    color: #e6c07b;
  }
  .attr,
  .variable,
  .template-variable,
  .type,
  .selector-class,
  .selector-attr,
  .selector-pseudo,
  .number {
    color: #d19a66;
  }
  
  .symbol,
  .bullet,
  .link,
  .meta,
  .selector-id,
  .title {
    color: #61aeee;
  }

  .emphasis {
    font-style: italic;
  }

  .strong {
    font-weight: bold;
  }

  .link {
    text-decoration: underline;
  }

}
