$site-base-color: #00ab6b;
$site-link-color: #9A9A9A;
$zendapi-std-fontsize: 12px;
/** 修改默认的uikit变量 */
$navbar-nav-item-height: 50px !default;
$global-font-family: -apple-system, BlinkMacSystemFont, "微软雅黑", "宋体" ,"Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !default;