<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>zendAPI - The C++ layer for Zend Engine</title>
<link rel="icon" href="/statics/images/zendapi.png" type="image/png"/>
<link rel="stylesheet" href="/statics/css/common.css" />
<script type="text/javascript" src = "/statics/js/manifest.js"></script>
<script type="text/javascript" src = "/statics/js/vendors.js?id=123123"></script>
<script type="text/javascript" src = "/statics/js/common.js"></script>

<!--<script type="text/javascript" src = "/statics/js/jquery.js"></script>-->
<!--<script type="text/javascript" src = "/statics/js/uikit.js"></script>-->
<!--<script type="text/javascript" src = "/statics/js/uikit-icons.js"></script>-->