<%
let layout;
if (page.layout) {
 layout = page.layout;
} else if (page.title) {
 layout = "post";
} else if (page._isBlogList) {
 layout = "blog";
}
let title = "";
if (layout == "post") {
 title = page.title + "-zendAPI 博客";
} else if (layout == "manual") {
 title = page.title + "-zendAPI 手册";
} else if (layout = "about") {
 title = "关于我们-zendAPI";
}else if (layout == "blog") {
 title = "欢迎访问 zendAPI 开发博客";
} else if (layout == "index") {
 title = "zendAPI - The C++ layer for Zend Engine";
} else if (layout == "apiindex") {
 title = "欢迎访问 zendAPI 接口文档栏目";
} else if (layout == "apimodules") {
 title = "模块文档索引页-zendAPI";
} else if (layout == "apinamespaces") {
 title = "名称空间文档索引页-zendAPI";
} else if (layout == "apiglobals") {
 title = " 全局定义文档索引页-zendAPI";
} else if (layout == "apifiles") {
 title = "所有文件文档索引页-zendAPI";
} else if (layout == "apimodulecontent" || layout == "apinamespacecontent" || layout == "apiclasscontent" || layout == "apifilecontent") {
 title = "正在为您加载页面-zendAPI";
}
%>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title><%- title %></title>
<link rel="stylesheet" href="/statics/css/common.css" />
<link rel="icon" href="/zendapi.ico" type="image/ico"/>
<script type="text/javascript" src = "/statics/js/manifest.js"></script>
<script type="text/javascript" src = "/statics/js/vendors.js"></script>
<script type="text/javascript" src = "/statics/js/common.js"></script>

