<%
let menuItems = site.data.category;
 %>
<ul class = "uk-text-left uk-width-1-1">
<% for (var i = 0; i < menuItems.length; i++) {
    let name = menuItems[i].name;
    let url = menuItems[i].url;
%>
    <li class="uk-width-1-1"><a href = "<%- url %>"><%- name %></a></li>
<% } %>
    <li class="uk-parent">
        <a href="#">多语言</a>
        <ul class="uk-nav-sub">
            <li><a href="http://www.zendapi.org/">中文</a></li>
            <li><a href="http://en.zendapi.org/">English</a></li>
        </ul>
    </li>
</ul>