.enum-section-container {
  margin-top: 20px;
  @media (min-width: 640px) {
    margin-top: 40px;
  }
  a {
    font-size: 1.2em;
  }
  .uk-grid-small > * {
    padding-left: 1px!important;
    padding-right: 1px!important;
  }
  .list-item {
    .uk-label {
      height:15px!important;
      line-height: 15px!important;
      padding-top: 2px;
      font-size: 10px!important;
      margin-right: 5px!important;
    }
  }
}