<script type="application/javascript">
    window.ABOUT_PAGE_TYPE = "<%- page.subtype %>";
</script>

<%- js("statics/js/pages/about.js") %>
<%- css("statics/css/about.css") %>
<div id="container"></div>