<!DOCTYPE html>
<html>
<head>
    <%- partial('_partial/head') %>
</head>
<body>
<div id="header-wrapper" class="uk-container uk-margin-remove uk-container-expand uk-sticky-below site-header"></div>

<%- body %>

<div id= "footer-wrapper"></div>
</body>
</html>