<script type="application/javascript">
   window.MANUAL_PAGE_TYPE = "<%- page.subtype %>";
</script>

<%- js("statics/js/pages/manual.js") %>
<%- css("statics/css/manual.css") %>
<div id="container"></div>