<!--<link rel="stylesheet" href="https://cdn.bootcss.com/highlight.js/9.12.0/styles/atom-one-dark.min.css">-->
<!--<script src="https://cdn.bootcss.com/highlight.js/9.12.0/highlight.min.js"></script>-->
<%- js("statics/js/pages/article.js") %>
<%- css("statics/css/article.css") %>
<div id="container"></div>