.class-section-item-container {
  margin-top: 20px;
  @media (min-width: 640px) {
    margin-top: 40px;
  }
  .uk-grid-small > * {
    padding-left: 1px!important;
    padding-right: 1px!important;
  }
  .uk-table td{
    padding-left: 0;
  }
  .uk-label {
    height:13px!important;
    line-height: 13px!important;
    padding-top: 2px;
    font-size: 10px!important;
    margin-right: 5px!important;
  }
}
.class-info-section-item-container {
  .uk-label {
    margin-right: 5px!important;
    margin-left: 0!important;
    @media (min-width: 640px) {
      margin-left: 5px!important;
      margin-right: 0!important;
    }
  }
}