.class-section-item-container {
  margin-top: 20px;
  @media (min-width: 640px) {
    margin-top: 40px;
  }
  .uk-grid-small > * {
    padding-left: 1px!important;
    padding-right: 1px!important;
  }
  .uk-table td{
    padding-left: 0;
  }
  .uk-label {
    height:16px!important;
    line-height: 17px!important;
    font-size: 10px!important;
    margin-right: 5px!important;
  }
  .inherits-container {
    .inherit-item {
      .uk-accordion-title {
        font-size: 1.2em!important;
      }
    }
  }
}
.class-info-section-item-container {
  .uk-label {
    margin-right: 5px!important;
    margin-left: 0!important;
    @media (min-width: 640px) {
      margin-left: 5px!important;
      margin-right: 0!important;
    }
  }
  .section-item-name {
    span {
      font-weight: bold!important;
    }
  }
}