.macro-section-info-item-container {
  .macro-definition {
    .name {
      margin-right: 20px;
      a,span {
        height: 23px;
        line-height: 23px;
      }
    }
    .define-keyword {
      margin-right: 10px;
      height: 23px;
      line-height: 23px;
    }
  }
}