@import "../../scss/variables.scss";

.apidoc-class-content-info-container
{
  a {
    font-size: 1.1em;
  }
  .title {
    margin: 0!important;
    padding: 0!important;
    @media (min-width: 640px) {
      margin-top: 15px!important;
    }
  }
  .uk-grid {
    border-bottom: 1px solid #e5e5e5!important;
    padding-bottom: 5px;
    margin-left:3px;
  }
  .include-files {
    padding-left: 0;
    li {
      padding-bottom: 5px;
    }
  }

}