@import "../../scss/variables.scss";

.apidoc-globals-info-container
{
  .uk-grid {
    border-bottom: 1px solid #e5e5e5!important;
    padding-bottom: 5px;
  }
  .title {
    font-size: 1.8em;
    color: #000000;
  }
  .list-item {
    
    font-size: 1em!important;
    .desc {
      font-size: 12px!important;
    }
    a {
      padding: 0;
    }
    font-family: $global-font-family;
    .uk-label {
      height:15px!important;
      line-height: 15px!important;
      padding-top: 2px;
      font-size: 10px!important;
      margin-right: 5px!important;
    }
  }
}