@import "../../scss/variables.scss";

.apidoc-modules-info-container
{
  .uk-grid {
    border-bottom: 1px solid #e5e5e5!important;
    padding-bottom: 5px;
    margin-left:3px;
  }
  .list-item {
    a ,span {
      font-size: 1.2em;
      font-family: $global-font-family;
    }
    span {
      font-size: 1em;
    }
  }
}