.macro-section-container {
  margin-top: 20px;
  @media (min-width: 640px) {
    margin-top: 40px;
  }
  .list-item {
    .define {
      a ,span{
        height: 23px;
        line-height: 23px;
      }
      margin-left: 20px;
    }
    .name {
    }
  }
  
}