<div class="partner-panel uk-container uk-margin-large-top uk-flex uk-flex-column">
    <div class="uk-flex uk-flex-center">
        <div class="partner-title uk-flex uk-flex-center">
            <img src="statics/images/index/partner/partner.svg"/>合作伙伴
        </div>
    </div>
    <div class="uk-margin-medium-top uk-flex uk-flex-center" uk-grid>
        <a class="partner-logo uk-width-auto"><img src="statics/images/index/partner/qihooopensource.svg"/></a>
        <a class="partner-logo uk-width-auto"><img src="statics/images/index/partner/osc.svg"/></a>
        <a class="partner-logo uk-width-auto"><img src="statics/images/index/partner/gitee.svg"/></a>
        <a class="partner-logo uk-width-auto"><img src="statics/images/index/partner/infosec.svg"/></a>
        <a class="partner-logo uk-width-auto"><img src="statics/images/index/partner/hulk.png" style="width:200px;height:25px;margin-top:15px"/></a>
    </div>
    <div class="uk-flex uk-flex-center uk-margin-medium-top">
        <div class="partner-title uk-flex uk-flex-center">
            <button class="uk-button uk-button-default become-partner-btn">如何成为合作伙伴</button>
        </div>
    </div>
</div>