//畅言
#SOHUCS #SOHU_MAIN.cy-blackblue .cy-list .cy-jump-kz .cy-jump-btn:hover{
  background: $changyan-color !important;
}
#SOHUCS #SOHU_MAIN.cy-blackblue .cy-float-container .cy-float-box .cy-float-textarea{
  border:1px solid $changyan-color !important;
}
#SOHUCS #SOHU_MAIN.cy-blackblue .cy-float-container .cy-float-box .cy-float-textarea:before{
  border-bottom:10px solid $changyan-color !important;
}
#SOHUCS #SOHU_MAIN.cy-blackblue .cy-list .cy-jump-kz .cy-jump-btn{
  color: $changyan-color !important;
}


#SOHUCS #SOHU_MAIN .cy-header-info .cy-header-nick {
  color: $changyan-color !important;
}
#SOHUCS #SOHU_MAIN .cy-box-wrapper{border:1px solid $changyan-color !important;}
#SOHUCS #SOHU_MAIN .cy-box-wrapper .cy-box-panel{
  color: $changyan-color !important;
}
#SOHUCS #SOHU_MAIN .cy-box-wrapper .cy-box-panel .cy-box-submit{background: $changyan-color !important;}
#SOHUCS #SOHU_MAIN .cy-box-wrapper .cy-box-face-wrapper .cy-box-face-tran{
  border-bottom: 10px solid $changyan-color !important;
}
#SOHUCS #SOHU_MAIN .cy-box-wrapper .cy-box-face-wrapper .cy-box-face-body{
  border: 1px solid $changyan-color !important;
}
#SOHUCS #SOHU_MAIN .cy-box-wrapper .cy-box-face-wrapper .cy-box-face-body .cy-box-face-confirm-row .cy-box-face-confirm-no {
  border: 1px solid $changyan-color !important;
  color: $changyan-color !important;
}
#SOHUCS #SOHU_MAIN .cy-box-wrapper .cy-box-face-wrapper .cy-box-face-body .cy-box-face-confirm-row .cy-box-face-confirm-yes
{
  background-color: $changyan-color !important;
  border: 1px solid $changyan-color !important;
}
#SOHUCS #SOHU_MAIN .cy-box-wrapper .cy-box-pic-wrapper .cy-box-pic-tran {
  border-bottom: 10px solid $changyan-color !important;
}
#SOHUCS #SOHU_MAIN .cy-box-wrapper .cy-box-pic-wrapper .cy-box-pic-body{
  border:1px solid $changyan-color !important;
}
#SOHUCS #SOHU_MAIN .cy-list-header .cy-list-count span em{
  color: $changyan-color !important;
}
#SOHUCS #SOHU_MAIN .cy-list-empty .cy-list-ph {
  color: $changyan-color !important;
}
#SOHUCS #SOHU_MAIN .cy-list .cy-jump-kz .cy-jump-btn {
  color: $changyan-color !important;
}
#SOHUCS #SOHU_MAIN .cy-list-wrapper .cy-list-title b{
  background: $changyan-color !important;
}
#SOHUCS #SOHU_MAIN .cy-list-footer .cy-list-load:hover .cy-list-load-right i{
  background: $changyan-color !important;
}
#SOHUCS #SOHU_MAIN .cy-list-footer .cy-list-load:hover .cy-list-load-text{
  color: $changyan-color !important;
}
#SOHUCS #SOHU_MAIN .cy-list-footer .cy-list-load-text:hover {
  color: $changyan-color !important;
}
#SOHUCS #SOHU_MAIN .cy-comment-container .cy-comment-head .cy-comment-nick {
  color: $changyan-color !important;
}
#SOHUCS #SOHU_MAIN .cy-comment-container .cy-floor .cy-floor-more {
  color: $changyan-color !important;
}
#SOHUCS #SOHU_MAIN .cy-comment-container .cy-floor .cy-floor-item .cy-floor-panel .cy-floor-btn:hover
{
  color: $changyan-color !important;
}
#SOHUCS #SOHU_MAIN .cy-comment-container .cy-comment-content .cy-comment-content-nick {
  color: $changyan-color !important;
}
#SOHUCS #SOHU_MAIN .cy-comment-container .cy-comment-panel .cy-comment-btn:hover {
  color: $changyan-color !important;
}
#SOHUCS #SOHU_MAIN .cy-float-container .cy-float-box .cy-float-textarea {
  border: 1px solid $changyan-color !important;
}
#SOHUCS #SOHU_MAIN .cy-float-container .cy-float-box .cy-float-textarea:before {
  border-bottom: 10px solid $changyan-color !important;
}
#SOHUCS #SOHU_MAIN .cy-float-container .cy-float-box .cy-float-textarea .cy-float-decorator{
  border-left:1px solid $changyan-color !important;
  border-bottom:1px solid $changyan-color !important;
}
#SOHUCS #SOHU_MAIN .cy-float-container .cy-float-box .cy-float-textarea .cy-float-hint{
  color: $changyan-color !important;
}
#SOHUCS #SOHU_MAIN .cy-float-container .cy-float-box .cy-float-submit{
  background: $changyan-color !important;
}
#SOHUCS #SOHU_MAIN .cy-float-container .cy-float-icon{
  color: $changyan-color !important;
}
#SOHUCS #SOHU_MAIN .cy-login-container .cy-login-phone-number-error{
  color: $changyan-color !important;
}
#SOHUCS #SOHU_MAIN .cy-login-container .cy-login-phone-password .cy-login-phone-secret-error{
  color: $changyan-color !important;
}
#SOHUCS #SOHU_MAIN .cy-login-container .cy-login-phone-password .cy-login-phone-btn:hover{
  background: $changyan-color !important;;
}
#SOHUCS #SOHU_MAIN .cy-login-container .cy-login-phone-submit{
  background: $changyan-color !important;
}
#SOHUCS #SOHU_MAIN .cy-identify-input-wrapper .cy-identify-error{
  color: $changyan-color !important;
}
#SOHUCS #SOHU_MAIN .cy-identify-submit{
  background: $changyan-color !important;
}
#SOHUCS #SOHU_MAIN .cy-comment-panel {
  em {
    color: #999;
  }
  color: #999;
}
#SOHUCS #SOHU_MAIN em {
  color: $changyan-color;
}
#SOHUCS #SOHU_MAIN .cy-comment-container .cy-comment-panel .cy-comment-btn.cy-active, #SOHUCS #SOHU_MAIN .cy-comment-container .cy-comment-panel .cy-comment-btn:hover
{
  color: $changyan-color !important;
}