@import "variables.scss";

.hot-area {
  background: $zapi-base-color;
  font-family: "Gotham Rounded";
  color: #ffffff;
  height: 430px;
}
/* Phone landscape and bigger */

@media (min-width: 640px) {
  .hot-area {
    height: 290px;
  }
}

.hot-area {
  .zendapi {
    font-size: 60px;
    padding-top: 30px;
  }
  .slogan {
    font-size: 30px;
  }
  .btn {
    height: 35px;
    @media (min-width: 640px) {
      width: 520px;
      margin: 0 auto;
    }
    .start-btn {
      color: $zapi-base-color!important;
      background: #ffffff;
      border: none;
      height: 35px;
      width:150px;
    }
    .github-repo-btn {
      color: #dddddd!important;
      height: 35px;
      border-color: #dddddd;
      width:150px;
      &:hover {
        color: #ffffff!important;
        border-color: #ffffff;
      }
    }
  }
}