<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Webpack App</title>
  <link href="/statics/css/index.css" rel="stylesheet"></head>
  <body>
  <script type="text/javascript" src="/statics/js/manifest.js"></script><script type="text/javascript" src="/statics/js/vender.js"></script><script type="text/javascript" src="/statics/js/common.js"></script><script type="text/javascript" src="/statics/js/index.js"></script><script type="text/javascript" src="/statics/js/manual.js"></script><script type="text/javascript" src="/statics/js/blog.js"></script><script type="text/javascript" src="/statics/js/about.js"></script></body>
</html>