@import "../variables.scss";
$zapi-blog-page-width: 960px;
body {
  background-color: #FAFAFA!important;
}
.blog-page-container
{
  max-width: $zapi-blog-page-width;
  padding: 0!important;
  @media (min-width: 640px) {
    padding-left: 40px!important;
    padding-right: 40px!important;
  }
  margin-top: 20px!important;
}