@import "../variables.scss";
@import "~highlight.js/styles/railscasts.css";
body {
  background-color: #FAFAFA!important;
}
$zapi-manual-page-width: 1200px;
.manual-page-container {
  max-width: $zapi-manual-page-width;
  margin-top: 20px!important;
  margin-bottom: 20px!important;
  padding: 0!important;
  @media (min-width: 640px) {
    margin-top: 30px!important;
    margin-bottom: 30px!important;
  }
  @media (min-width: 960px) {
    padding-left: 40px!important;
    padding-right: 40px!important;
    margin-top: 40px!important;
    margin-bottom: 40px!important;
  }
  pre {
    padding: 0!important;
    margin: 0!important;
    border: none;
  }
}