@import "../../../scss/variables.scss";

.side-panel {
  width: 200px;
  background-color: #ffffff;
  margin: 0;
  padding:0;
  padding-top: 20px;
  padding-bottom: 20px;
  li {
    line-height: 30px;
    height: 30px;
    a {
      font-size: 1.2em;
      display: inline-block;
    }
    img {
      height:16px;
      width:16px;
      margin-top: -5px;
      margin-right: 5px;
      margin-left: 20px;
    }
  }
  .active-item {
    a {
      color: $zapi-base-color;
    }
  }
}