.info-section-container
{
  .section-title {
    height: 35px;
    line-height: 35px;
  }
  .section-item-name-wrapper
  {
    
  }
  .section-item-name {
    height: 30px;
    line-height: 30px;
    span {
      font-size: 1.5em;
    }
    img {
      margin-top: -4px;
      margin-right: 3px;
    }
  }
  .definition {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    .define {
      height: 23px;
      line-height: 23px;
    }
    .name {
      margin-right: 20px;
    }
  }
  .section-item {
    .uk-label {
      height:15px!important;
      line-height: 15px!important;
      padding-top: 2px;
      font-size: 10px!important;
      margin-right: 5px!important;
    }
    .tags {
      line-height: 30px;
      height: 30px;
      span {
        margin-top: 7px;
      }
    }
  }
}