@import "../../../scss/variables.scss";
.section-item-container
{
  .uk-grid-small > * {
    padding-left: 1px!important;
    padding-right: 1px!important;
  }
  .section-title {
    height: 35px;
    line-height: 35px;
  }
  
  .tags {
    line-height: 30px;
    height: 30px;
    span {
      margin-top: 7px;
    }
  }
  .uk-label {
    height:13px!important;
    line-height: 13px!important;
    padding-top: 2px;
    font-size: 10px!important;
    margin-right: 5px!important;
  }
  .list-item {
    a {
      font-size: 1.1em;
      font-family: $global-font-family;
    }
    span {
      font-size: 1em;
    }
  }
}

.section-info-item-container, .class-info-section-item-container{
  .section-item-name {
    a,span {
      height: 30px;
      line-height: 30px;
    }
    span {
      font-size: 1.5em;
    }
    img {
      margin-top: -4px;
      margin-right: 3px;
    }
  }
  a {
    font-size: 1.1em;
    font-family: $global-font-family;
  }
  span {
    font-size: 1em;
  }
  .uk-grid-small > * {
    padding-left: 1px!important;
    padding-right: 1px!important;
  }
  .definition {
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .uk-label {
    height:13px!important;
    line-height: 13px!important;
    padding-top: 2px;
    font-size: 10px!important;
    margin-left: 5px!important;
  }
}