@import "../../scss/variables.scss";

.features {
  .title {
    width: 90px;
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, "微软雅黑", "黑体";
    color: #363b40;
    font-weight: bold;
    border-bottom: 3px solid $zapi-base-color;
    padding-bottom: 5px;
  }
  .grid {
    max-width: $zapi-page-max-width;
  }
  .uk-grid + .uk-grid, .uk-grid > .uk-grid-margin, * + .uk-grid-margin
  {
    margin-top: 0!important;
  }
  .feature-item {
    min-height: 230px;
    @media (min-width: 640px) {
      min-height: 260px;
    }
    @media (min-width: 960px) {
      min-height: 230px;
    }

    .feature-title {
      font-family: -apple-system, BlinkMacSystemFont, "微软雅黑", "黑体";
      color: #363b40;
      font-weight: bold;
      font-size: 15px;
    }
    .icon {
      color: $zapi-base-color;
      width : 60px;
      height: 60px;
    }
    .feature-desc {
      font-size: 12px;
      font-weight: lighter;
    }
  }
}